### IntelliJ Idea ###
*.iml
*.ipr
*.iws
.idea/

# Java Package Files #
*.jar
*.war
*.ear

### Java ###
*.class

### Maven ###
api/target/
api/target/*
omod/target/
omod/target/*
#############

### Linux ###
!.gitignore
!.gitattributes
!.travis.yml
*~
#############

openmrs-runtime.properties
velocity.log
*.log

__pycache__/
e2e_run_test_tool.log
e2e_test_tool.log
example_instance.dcm
