<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.imaging</package>
	<author>UCLouvain-ICTEAM</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.imaging.ImagingActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>${openmrsPlatformVersion}</require_version>

	<require_modules>
		<require_module version="${webservicesRestModuleVersion}">
			org.openmrs.module.webservices.rest
		</require_module>
	</require_modules>
	
	<!-- Extensions -->
	<mappingFiles>
		OrthancConfiguration.hbm.xml
		DicomStudy.hbm.xml
		RequestProcedure.hbm.xml
		RequestProcedureStep.hbm.xml
	</mappingFiles>

	<privilege>
		<name>Task: Manager Orthanc Configuration</name>
		<description>Able to add, delete configuration</description>
	</privilege>

	<privilege>
		<name>Task: Modify Image Data</name>
		<description>Able to add, delete image data</description>
	</privilege>

	<privilege>
		<name>Task: View Image Data</name>
		<description>Able to view image metadata and previews</description>
	</privilege>

	<privilege>
		<name>Task: Upload Image Data</name>
		<description>Able to upload image data to Orthanc</description>
	</privilege>

	<privilege>
		<name>Task: Delete Image Data</name>
		<description>Able to delete image data from OpenMRS and Orthanc</description>
	</privilege>

	<privilege>
		<name>Task: Link Image Studies</name>
		<description>Able to link image studies to OpenMRS patients</description>
	</privilege>

	<privilege>
		<name>Task: Edit Worklist</name>
		<description>Able to add, delete worklist</description>
	</privilege>

	<privilege>
		<name>Task: Receive Orthanc Updates</name>
		<description>Able to receive modality and Orthanc worklist status updates</description>
	</privilege>

	<!-- Required Global Properties -->
	<globalProperty>
		<property>imaging.maxUploadImageDataSize</property>
		<defaultValue>200000000</defaultValue>
		<description>Set maximum size for upload of image study data</description>
	</globalProperty>

	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	
	<!-- Required Privileges 
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->


	<!-- Required Global Properties 
	<globalProperty>
		<property>@MODULE_ID@.someProperty</property>
		<defaultValue></defaultValue>
		<description>
			A description of the global property goes here.  The description
			should explain enough for administrators to understand the purpose
			and possible values for the global property.
		</description>
	</globalProperty>
	/Required Global Properties -->
	
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_de.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_it.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_pl.properties</file>
	</messages>

	<!-- /Internationalization -->
	
</module>
